#ar-logo-black {
    height: 55px;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: beige !important;
}

.bg-navy {
    background-color: #112D4E;
}

.bg-navy-gradient {
    background: linear-gradient(to top,
            #112D4E,
            #001F45);
}

.bg-white {
    background-color: #FFFFFF;
}

body {
    font-family: 'Readex Pro', sans-serif !important;
    background: linear-gradient(to right,
            #F9F7F7,
            #FFFFFF,
            #FFFFFF,
            #F9F7F7);
}

.border-radius-5 {
    border-radius: 5px;
}

.box-navy {
    background-color: #112D4E;
    border-radius: 20px;
    padding-left: 30px !important;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 10px;
    box-shadow: 6px 6px 5px #cacccd;
}

.box-white {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding-left: 30px !important;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 10px;
    box-shadow: 6px 6px 5px #e1e1e1;
}

.color-blue {
    color: #3F72AF;
}

.color-navy {
    color: #112D4E;
}

.color-turqoise {
    color: #3FC1C9;
}

.color-yellow {
    color: #ECB365;
}

.color-white {
    color: #F9F7F7;
}

.gambar-carousel {
    border-radius: 10px !important;
}

.demo-wrap {
    position: relative;
}

.demo-wrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='70' height='70' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 14%, 97%, 1)'/><path d='M-4.8 4.44L4 16.59 16.14 7.8M32 30.54l-13.23 7.07 7.06 13.23M-9 38.04l-3.81 14.5 14.5 3.81M65.22 4.44L74 16.59 86.15 7.8M61 38.04l-3.81 14.5 14.5 3.81'  stroke-linejoin='round' stroke-linecap='round' stroke-width='0.5' stroke='hsla(35, 78%, 66%, 1)' fill='none'/><path d='M59.71 62.88v3h3M4.84 25.54L2.87 27.8l2.26 1.97m7.65 16.4l-2.21-2.03-2.03 2.21m29.26 7.13l.56 2.95 2.95-.55'  stroke-linejoin='round' stroke-linecap='round' stroke-width='0.5' stroke='hsla(183, 56%, 52%, 1)' fill='none'/><path d='M58.98 27.57l-2.35-10.74-10.75 2.36M31.98-4.87l2.74 10.65 10.65-2.73M31.98 65.13l2.74 10.66 10.65-2.74'  stroke-linejoin='round' stroke-linecap='round' stroke-width='0.5' stroke='hsla(212, 64%, 19%, 1)' fill='none'/><path d='M8.42 62.57l6.4 2.82 2.82-6.41m33.13-15.24l-4.86-5.03-5.03 4.86m-14-19.64l4.84-5.06-5.06-4.84'  stroke-linejoin='round' stroke-linecap='round' stroke-width='0.5' stroke='hsla(213, 47%, 47%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.demo-content {
    position: relative;
}

h1 {
    font-size: 68px !important;
    font-weight: 700 !important;
}

h2 {
    font-size: 20px !important;
    font-weight: 600 !important;
}

h3 {
    font-size: 17px !important;
    font-weight: 600 !important;
}

.language {
    margin-left: 100px;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 440px;
    border-radius: 25px;
    ;
}

.myname {
    font-size: 42px !important;
    font-weight: 600 !important;
    line-height: 55px;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.opacity-50 {
    opacity: 50%;
}

td {
    padding-right: 30px;
    text-align: center;
    line-height: 20px;
}