#ar-logo-black {
    height: 55px;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: beige !important;
}

.bg-navy {
    background-color: #112D4E;
}

.bg-navy-gradient {
    background: linear-gradient(to top,
            #112D4E,
            #001F45);
}

.bg-white {
    background-color: #FFFFFF;
}

body {
    font-family: 'Readex Pro', sans-serif !important;
    background: linear-gradient(to right,
            #F9F7F7,
            #FFFFFF,
            #FFFFFF,
            #F9F7F7);
}

.box-navy {
    background-color: #112D4E;
    border-radius: 20px;
    padding-left: 30px !important;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.color-blue {
    color: #3F72AF;
}

.color-navy {
    color: #112D4E;
}

.color-turqoise {
    color: #3FC1C9;
}

.color-yellow {
    color: #ECB365;
}

.color-white {
    color: #F9F7F7;
}

h1 {
    font-size: 68px !important;
    font-weight: 700 !important;
}

h2 {
    font-size: 20px !important;
    font-weight: 500 !important;
}

.language {
    margin-left: 100px;
}

main {
    padding: 20px;
    padding-left: 100px !important;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 440px;
    border-radius: 25px;;
}

.myname {
    font-size: 42px !important;
    font-weight: 600 !important;
    line-height: 55px;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.opacity-50 {
    opacity: 50%;
}